.sliderView {
    width: 10% !important;
    padding: 10px !important;
}
.slider {
    width: 100% !important;
    margin-left: 5% !important;
    padding: 10px !important;
}
.text {
    width: 100% !important;
    margin-left: 5% !important;
    padding: 10px !important;
}